@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);

:root{
    --black: #000000;
    --purple: #5D3FD3;
    --light-color: #F5F5F5;
    --box-shandow: 0 0 10px rgba(0, 0, 0, 0.1);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: none;
    transition: all 0.2s linear;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

body {
    background: #fff;
}

.header {
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    border: 1px solid;
    justify-content: space-between;
    padding: 2rem 9%;
    background: #fff;
    z-index: 1000;
    box-shadow: var(--box-shadow);
} 

.header .logo img{
    margin-top: 10px;
    height: 95%;
    width: 65%;
    display: inline-block;
}

.header .logo a{
    font-size: 1.7rem;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    color: var(--light-color);
}

.header .logo a:hover{
    background: linear-gradient(123deg, var(--purple), var(--black));
    color: #fff;
}

